
    button {
      background-color: royalblue;
      border: none;
      color: rgb(189, 190, 251);
      padding: 20px 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 4px;
      cursor: pointer;
    }
  
    button{
  
      background-color: rgb(60, 106, 245);
      padding: 15px 52px;
    }
  
   
  
    #list_item,
    #list_item1,
    #list_item2 {
      padding: 0 10px 0 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
      list-style-position: inside;
      list-style-type: none;
    }
  
     li,
     li,
     li {
 
      position: relative;
      font-size: 18px;
      transition: 0.2s;
      padding-right: .6em;
      margin: 1em 0;
      font-family: Georgia, 'Times New Roman', Times, serif;
  
      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    ul li:nth-child(odd) {
      background: #a5d9e9
    }
  
  
    ul li:hover {
      background: rgb(189, 32, 32);
    }
  
    .card {
      background-color: rgb(188, 223, 209);
      margin: 20px 15px;
      text-align: center;
      font-size: 25px;
  
    }